.Box {
  text-align: left;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px 4px gray;
}
h1 {
  margin: 25px 10px;
  color: brown;
  text-transform: capitalize;
  text-align: center;
}
.topic-box {
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
span {
  margin-top: 35px;
}
.instruc-box {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
}
.instruc-box span {
  font-size: larger;
}
.instruc-box p {
  font-size: larger;
  color: brown;
}
.note-box {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
  font-size: larger;
}
.note-box p{
    color: blue;
}
